[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "junco"]
	path = junco
	url = https://github.com/johnsonandjohnson/junco
[submodule "rAccess"]
	path = rAccess
	url = https://github.com/johnsonandjohnson/raccess
